table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: scroll;
    white-space: nowrap;
  }
:root {
  --md-primary-fg-color:        #59A14F;
  --md-primary-fg-color--light: #87a084;
  --md-primary-fg-color--dark:  #13a300;
}